body{
    background-color: #e3e6f3;
    margin: 0;
    padding: 0;
    width: 100%;
}

h6{
    font-weight: 700;
    font-size: 16px;
}

@font-face {
    font-family: 'Riday';
    src: url(Ridayparcia-JRgqn.otf);
}

.search {
    display: flex;
    cursor: pointer;
    
}

.glass:hover{
    color: #088178;
}

.search:hover input{
    width: 200px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    margin-right: 10px;
}

.nav-logo, .logo{
    font-family: 'Riday';
    font-size: 30px;
    font-weight: bold;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar .a{
    font-size: 18px;
    font-family: Trebuchet MS;
}

.navbar li .a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

.navbar li a{
    text-decoration: none;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}


.navbar li:not(:first-child) a:hover,
.navbar li a.active{
    color: #088178;
}

.navbar li:not(:first-child) a.active::after, 
.navbar #nav-select:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.navbar li:hover .dropdown {
    display: block;
}

.dropdown{
    display: none;
    position: absolute;
    top: 120%;
    left: 0%;
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a{
    color: #666666;
}

.dropdown a:hover {
    color: #088178;
    text-decoration: underline;
}

.contact-bg{
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(ContactUs/contact-bg.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-bg h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.contact-bg h2{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 0.4rem 0;
    letter-spacing: 4px;
}
.line div{
    margin: 0 0.2rem;
}
.line div:nth-child(1),
.line div:nth-child(3){
    height: 3px;
    width: 70px;
    background: #088178;
    border-radius: 5px;
}
.line{
    display: flex;
    align-items: center;
}
.line div:nth-child(2){
    width: 10px;
    height: 10px;
    background: #088178;
    border-radius: 50%;
}
.text{
    font-weight: 300;
    opacity: 0.9;
}
.contact-bg .text{
    margin: 1.6rem 0;
}
.contact-body{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}
.contact-info{
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
}
.contact-info span{
    display: block;
}
.contact-info div{
    margin: 0.8rem 0;
    padding: 1rem;
}
.contact-info span .fas{
    font-size: 2rem;
    padding-bottom: 0.9rem;
    color: #088178;
}
.contact-info div span:nth-child(2){
    font-weight: 500;
    font-size: 1.1rem;
}
.contact-info .text{
    padding-top: 0.4rem;
}
.contact-form{
    padding: 20px 0px 30px 90px;
    border-top: 1px solid #c7c7c7;
}
.contact-form form{
    padding-bottom: 1rem;
}
.form-control{
    width: 95%;
    border: 1.5px solid #c7c7c7;
    border-radius: 15px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}

.form-control-a{
    width: 97%;
    border: 1.5px solid #c7c7c7;
    border-radius: 15px;
    padding: 0.7rem;
    margin: 0.6rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    outline: 0;
}

.form-control:focus{
    box-shadow: 0 0 6px -3px rgba(48, 48, 48, 1);
}

.form-control:hover{
    border-color: #088178;
}

.contact-form form div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.6rem;
}
.send-btn{
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background: #088178;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
    font-weight: 600;
}
.send-btn:hover{
    background-color: #088179d7;
}
.contact-form > div img{
    width: 85%;
}
.contact-form > div{
    margin: 0 auto;
    text-align: center;
}
.contact-footer{
    padding: 2rem 0;
    background: #000;
}
.contact-footer h3{
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    transition: all 0.4s ease;
}
.social-links a:hover{
    color: #088178;
    border-color: #088178;
}

@media screen and (min-width: 768px){
    .contact-bg .text{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact-info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .contact-bg .text{
        width: 50%;
    }
    .contact-form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (min-width: 1200px){
    .contact-info{
        grid-template-columns: repeat(4, 1fr);
    }
}

.Message
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#Message
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.banner img{
    border-radius: 5px;
}

